*{
    box-sizing: border-box;
   
}
body{
    font-family: sans-serif;
    color: #fcfcfc;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bg.jpg');
  margin-top: 100px;

  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main{
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(65, 65, 65, );
    box-shadow: 0 20px 25px 25px black;

}
.main .date{
    width: 380px;
    padding: 25px;
}
.main h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0 15px 30px;
}
.main .days{
    display: flex;
    flex-wrap: wrap;
   
}
.main .day {
    height: 65px;
    width: 45px;
  
}
.main .number {
    height: 45px;
    width: 45px;
    display: flex;
    cursor: default;
  
    
}
.main .number:hover{
    border: 2px solid;
}
.main{
    text-align: center;
    
}
.date{
    text-align: center;
    justify-content: center;
    margin-left: 50px;
}
.days{
    text-align: center;
    justify-content: center;
}
.days .number{
    text-align: center;
    justify-content: center;
}
.number span{
    color: rgb(255, 72, 0);
}